<div class="container">
    <div class="navbarcontainer">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="hidden-phone" src="/images/pmlogo.png" title="PMSOFT" alt="PMSOFT logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1>Software development capabilities</h1>
            <h3>We deliver systems on top of continuous integration infrastructure</h3>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Key aspects of our work</h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Innovative technologies</h3>
                </div>
                <div class="panel-body">We develop <em>Service Architecture Model</em>, a new approach to systems integration.</div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>Formal definition of service architectures</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>Remote dependency injection</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Functional approach</h3>
                </div>
                <div class="panel-body">We base software design and implementation in functional paradigm</div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>Scala</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>Functional Reactive Programming</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>CQRS</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>NOSQL databases</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>Hadoop</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Open knowledge</h3>
                </div>
                <div class="panel-body">We develop clear logic based in open tools and effective techniques</div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>Based on open-source</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>TDD</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>Continuous integration</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"/>Agile</li>
                </ul>
            </div>
        </div>
    </div>
</div>


