<div class="col-md-12">
    <div class="page-header">
        <h1>Powoływać
      <small>zarządzanie powołań.</small>
    </h1>
    </div>
    <div>
        <div ng-if="principal.isInRole('admin')" class="col-md-6">
            <a ui-sref="root.users.init" class="thumbnail">
                <img holder-js data-src="holder.js/240x180/sky/text:Użytkownicy">

                <div class="text-center caption">
                    <h3>Użytkownicy</h3>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a ui-sref="root.students.init" class="thumbnail">
                <img holder-js data-src="holder.js/240x180/sky/text:Uczniowie">

                <div class="text-center caption">
                    <h3>Uczniowie</h3>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a ui-sref="root.appointment" class="thumbnail">
                <img holder-js data-src="holder.js/240x180/sky/text:Powołania">

                <div class="text-center caption">
                    <h3>Powołania</h3>
                </div>
            </a>
        </div>
        <div ng-if="auth.isAdmin" class="col-md-6">
            <a ui-sref="root.administration.init" class="thumbnail">
                <img holder-js data-src="holder.js/240x180/sky/text:Zarządzanie">
                <div class="text-center caption">
                    <h3>Zarządzanie</h3>
                </div>
            </a>
        </div>
    </div>

</div>